@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  animation: fade-in 0.5s ease-in-out;
  font-family: 'Inter', sans-serif; 
  list-style: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.icn {
  background-repeat: no-repeat;
  background-position: center;
}

.icn-eye-open {
  background-image: url('./assets/icon/eye-open.svg');
  width: 20px;
  height: 20px;
}

.icn-eye-close {
  background-image: url('./assets/icon/eye-close.svg');
  width: 20px;
  height: 20px;
}